@import '../../assets/styles/vars';

.table-sales {
	padding: $p-16;

	h2 {
		margin-bottom: 8px;
	}
}

.sales-top {
	justify-content: space-between;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
}

.sales {
	.highlight {
		font-weight: bold;
	}
}

.sales-item {
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	background: $c-green-1;

	&:first-child {
		background: $c-green;
		border-radius: $br-r-md;
	}

	&:last-child {
		background: $c-orange-2;
		border-radius: $br-r-md;
	}

	&:nth-child(2) {
		border-radius: $br-r-md $br-r-md 0 0;
	}

	&:nth-last-child(2) {
		border-radius: 0 0 $br-r-md $br-r-md;
	}

	span {
		display: inline-block;
	}
}

.sales-item-pos {
	span {
		&:first-child {
			margin-right: 8px;
		}

		&:last-child {
			overflow: hidden;
			max-width: calc(100vw - 144px);
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.reward {
		margin-right: 8px;
	}
}
