@import '../../assets/styles/vars';

.table-sales {
	padding: $p-16;

	h2 {
		margin-bottom: 1px;

		&::first-letter {
			text-transform: capitalize;
		}
	}
}

.sales-item {
	align-items: center;
	padding: 7px;
	background: $c-green-1;

	.trophy {
		padding-left: 8px;
	}

	&:first-child {
		background: $c-green;
		border-radius: $br-r-md;
	}

	&:last-child {
		background: $c-orange-2;
		border-radius: $br-r-md;
	}

	&:nth-child(2) {
		border-radius: $br-r-md $br-r-md 0 0;
	}

	&:nth-last-child(2) {
		border-radius: 0 0 $br-r-md $br-r-md;
	}

	span {
		display: inline-block;
	}

	.last-name {
		overflow: hidden;
		flex: 1 1;
		padding: 0 8px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.sales-top {
	justify-content: space-between;
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;

	span {
		&:first-child {
			&::first-letter {
				text-transform: capitalize;
			}
		}
	}
}

.sales {
	.highlight {
		font-weight: bold;
	}
}
